In [208]:
import numpy as np
import pandas as pd
import time

In [219]:
prod_filepath = "./data/production_data.csv"
df_prod = pd.read_csv(prod_filepath)

alias_filepath = "./data/operator_aliasing.csv"
df_alias = pd.read_csv(alias_filepath)

wells_filepath = "./data/wellsData.csv"
df_wells = pd.read_csv(wells_filepath)

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (21,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Adjusting API by adding a leading zero to APIs starting with '5'

In [220]:
start = time.time()
df_prod.API=df_prod.API.astype(str).str.zfill(14)
df_wells.API=df_wells.API.astype(str).str.zfill(14)

Add Operator Alias

In [224]:
filter_col = np.append(df_prod.columns, ['Alias'])

# wells_alias_df = df_alias[['Name', 'Alias']].merge(df_wells[['operatorNameIHS', 'API']], left_on='Name', right_on='operatorNameIHS', how='outer')
new_df = (df_prod.merge(df_alias[['Name', 'Alias']].merge(df_wells[['operatorNameIHS', 'API']], left_on='Name', right_on='operatorNameIHS', how='right')[['operatorNameIHS', 'Alias', 'API']], on='API', how='left'))

new_df = new_df.fillna({'Alias':new_df.operatorNameIHS})[filter_col]

,API,Year,Month,Liquid,Gas,RatioGasOil,Water,PercentWater,DaysOn,_LastUpdate,Alias
0,35045231810000,2012,8,0,9014,0.000000,0,0.000000,0,2016-04-06 09:53:22.573,P V PROPERTIES
1,35045231810000,2012,9,0,39672,0.000000,0,0.000000,0,2016-04-06 09:53:22.573,P V PROPERTIES
2,35045231810000,2012,10,0,21454,0.000000,0,0.000000,0,2016-04-06 09:53:22.573,P V PROPERTIES
3,35045231810000,2012,11,177,6259,35.361582,0,0.000000,0,2016-04-06 09:53:22.573,P V PROPERTIES
4,35045231810000,2012,12,0,10666,0.000000,0,0.000000,0,2016-04-06 09:53:22.573,P V PROPERTIES
5,35045231810000,2013,1,0,1500,0.000000,0,0.000000,0,2016-04-06 09:53:22.573,P V PROPERTIES
6,33089006470100,2011,12,0,0,0.000000,10454,0.000000,31,2016-04-06 09:53:24.683,CHESAPEAKE
7,33089006470100,2012,1,0,0,0.000000,10982,0.000000,0,2016-04-06 09:53:24.683,CHESAPEAKE
8,35029211390000,2012,2,0,58971,0.000000,0,0.000000,0,2016-04-06 09:53:55.693,NEWFIELD
9,35029211390000,2012,3,0,0,0.000000,0,0.000000,0,2016-04-06 09:53:55.693,NEWFIELD
10,35029211390000,2012,4,0,0,0.000000,0,0.000000,0,2016-04-06 09:53:55.693,NEWFIELD
11,35029211390000,2012,5,0,0,0.000000,0,0.000000,0,2016-04-06 09:53:55.693,NEWFIELD
12,35029211390000,2012,6,0,0,0.000000,0,0.000000,0,2016-04-06 09:53:55.693,NEWFIELD
13,35029211390000,2012,7,0,0,0.000000,0,0.000000,0,2016-04-06 09:53:55.693,NEWFIELD
14,35029211390000,2012,8,0,0,0.000000,0,0.000000,0,2016-04-06 09:53:55.693,NEWFIELD
15,35029211390000,2012,9,0,0,0.000000,0,0.000000,0,2016-04-06 09:53:55.693,NEWFIELD
16,35029211390000,2012,10,0,0,0.000000,0,0.000000,0,2016-04-06 09:53:55.693f,NEWFIELD
17,35029211390000,2012,11,0,0,0.000000,0,0.000000,0,2016-04-06 09:53:55.693,NEWFIELD
18,35029211390000,2012,12,0,0,0.000000,0,0.000000,0,2016-04-06 09:53:55.693,NEWFIELD
19,35029211390000,2013,1,0,0,0.000000,0,0.000000,0,2016-04-06 09:53:55.693,NEWFIELD
20,35029211390000,2013,2,0,47546,0.000000,0,0.000000,0,2016-04-06 09:53:55.693,NEWFIELD
21,25035221290000,2011,3,0,0,0.000000,357,0.000000,25,2016-04-06 09:53:56.663,NEWFIELD
22,25035221290000,2011,4,0,205,0.000000,130,0.000000,19,2016-04-06 09:53:56.663,NEWFIELD
23,25035221290000,2011,5,122,131,1.073770,114,0.934426,29,2016-04-06 09:53:56.663,NEWFIELD
24,25035221290000,2011,6,19,22,1.157895,8,0.421053,6,2016-04-06 09:53:56.663,NEWFIELD
25,33053034620000,2012,2,93,93,1.000000,0,0.000000,1,2016-04-06 09:54:50.343,WHITING
26,33053034620000,2012,3,79,78,0.987342,0,0.000000,31,2016-04-06 09:54:50.343,WHITING
27,33053034620000,2012,4,0,0,0.000000,0,0.000000,0,2016-04-06 09:54:50.343,WHITING
28,33053034620000,2012,5,33,33,1.000000,0,0.000000,1,2016-04-06 09:54:50.343,WHITING
29,33053034620000,2012,6,267,267,1.000000,0,0.000000,4,2016-04-06 09:54:50.343,WHITING
...,...,...,...,...,...,...,...,...,...,...,...
3703346,49009341370000,2018,3,24398,33750,1.383310,28855,1.182679,26,2019-02-03 13:32:59.413,NaN
3703347,49009341370000,2018,4,19382,27471,1.417346,23752,1.225467,30,2019-02-03 13:32:59.413,NaN
3703348,49009341370000,2018,5,15656,21403,1.367080,18686,1.193536,31,2019-02-03 13:32:59.413,NaN
3703349,49009341370000,2018,6,12275,14172,1.154542,14224,1.158778,30,2019-02-03 13:32:59.413,NaN
3703350,49009341370000,2018,7,9355,8940,0.955639,7086,0.757456,31,2019-02-03 13:32:59.413,NaN
3703351,49009341370000,2018,8,7640,5487,0.718194,5341,0.699084,30,2019-02-03 13:32:59.413,NaN
3703352,49009341370000,2018,9,8877,8660,0.975555,9009,1.014870,30,2019-02-03 13:32:59.413,NaN
3703353,49009341370000,2018,10,9441,11218,1.188222,11271,1.193835,31,2019-02-03 13:32:59.413,NaN
3703354,49009341370000,2018,11,8389,9714,1.157945,9900,1.180117,30,2019-02-03 13:32:59.413,NaN
3703355,49009341370000,2018,12,7213,327,0.045335,8455,1.172189,31,2019-02-03 13:32:59.413,NaN
3703356,33025033460000,2018,7,985,1281,1.300508,4284,4.349239,2,2019-02-03 13:32:59.657,NaN
3703357,33025033460000,2018,8,36083,46908,1.300003,33425,0.926337,31,2019-02-03 13:32:59.657,NaN
3703358,33025033460000,2018,9,26747,34772,1.300034,24455,0.914308,26,2019-02-03 13:32:59.657,NaN
3703359,33025033460000,2018,10,16854,21910,1.299988,16529,0.980717,23,2019-02-03 13:32:59.657,NaN
3703360,33025033460000,2018,11,14053,14820,1.054579,12166,0.865723,29,2019-02-03 13:32:59.657,NaN
3703361,33025033460000,2018,12,8951,8057,0.900123,10993,1.228131,31,2019-02-03 13:32:59.657,NaN
3703362,33053085960000,2018,11,18012,25775,1.430990,53313,2.959860,29,2019-02-03 13:32:59.800,NaN
3703363,33053085960000,2018,12,22578,0,0.000000,51008,2.259190,31,2019-02-03 13:32:59.800,NaN
3703364,33053086000000,2018,11,7919,10849,1.369996,33730,4.259376,16,2019-02-03 13:32:59.847,NaN
3703365,33053086000000,2018,12,18522,0,0.000000,58559,3.161592,31,2019-02-03 13:32:59.847,NaN
3703366,33061041300100,2018,7,0,27,0.000000,0,0.000000,0,2019-02-03 13:32:59.893,NaN
3703367,33061041300100,2018,8,13203,10113,0.765962,35951,2.722942,25,2019-02-03 13:32:59.893,NaN
3703368,33061041300100,2018,9,21206,21328,1.005753,33411,1.575545,30,2019-02-03 13:32:59.893,NaN
3703369,33061041300100,2018,10,19341,20118,1.040174,26633,1.377023,31,2019-02-03 13:32:59.893,NaN
3703370,33061041300100,2018,11,17535,44309,2.526889,20977,1.196293,30,2019-02-03 13:32:59.893,NaN
3703371,33061041320000,2018,7,0,113,0.000000,0,0.000000,0,2019-02-03 13:32:59.957,NaN
3703372,33061041320000,2018,8,22765,17550,0.770920,36300,1.594553,25,2019-02-03 13:32:59.957,NaN
3703373,33061041320000,2018,9,23387,24596,1.051695,30736,1.314234,30,2019-02-03 13:32:59.957,NaN
3703374,33061041320000,2018,10,25028,26903,1.074916,29125,1.163697,31,2019-02-03 13:32:59.957,NaN
3703375,33061041320000,2018,11,22158,7690,0.347053,24272,1.095406,30,2019-02-03 13:32:59.957,NaN

Remove Pre-Peak Months

In [225]:
# filtering out post-peak records with 0 oil production
# tmp_df = new_df[filter_col][new_df['Liquid']!=0]

# getting peak records
peak_records = new_df[new_df.groupby(['API'], sort=False)['Liquid'].transform(max) == new_df['Liquid']]

# filtering out pre-peak months
peak_records = peak_records.rename(columns={"Month": "PeakMonth", "Year": "PeakYear"})
new_df = pd.merge(new_df, peak_records[["API", "PeakMonth", "PeakYear"]], on='API', how='left')
post_peak = new_df[np.logical_or((new_df['Year'] > new_df['PeakYear']),np.logical_and((new_df['Year']==new_df['PeakYear']),(new_df['Month']>=new_df['PeakMonth'])))].sort_values(['Year','Month'])[filter_col]

Add a Month Index Column

In [226]:
post_peak['MonthIdx'] = post_peak.groupby(['API'], sort=False).cumcount()+1
end = time.time()
tt = end - start
print(tt)

123.15779709815979

In [ ]:
post_peak[filter_col].to_csv("./data/processed_production_data.csv")