In [194]:
import numpy as np
import pandas as pd
import time

In [252]:
prod_filepath = "./data/production_data.csv"
df_prod = pd.read_csv(prod_filepath)

alias_filepath = "./data/operator_aliasing.csv"
df_alias = pd.read_csv(alias_filepath)

wells_filepath = "./data/wellsData.csv"
df_wells = pd.read_csv(wells_filepath)

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (21,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Adjusting API by adding a leading zero to APIs starting with '5'

In [253]:
start = time.time()
df_prod.API=df_prod.API.astype(str).apply(lambda value:value.zfill(14))

Add Operator Alias

In [254]:
filter_col = df_prod.columns
filter_col = np.append(filter_col, ['Alias'])

df_wells.API=df_wells['API'].astype(str)

wells_alias_df = df_alias[['Name', 'Alias']].merge(df_wells[['operatorNameIHS', 'API']], left_on='Name', right_on='operatorNameIHS', how='outer')
new_df = (df_prod.merge(wells_alias_df[['operatorNameIHS', 'Alias', 'API']], on='API', how='left'))

new_df.Alias.fillna(new_df.operatorNameIHS, inplace=True)

Remove Pre-Peak Months

In [258]:
# filtering out post-peak records with 0 oil production
tmp_df = new_df[filter_col][new_df['Liquid']!=0]

# getting peak records
prod_grouped = tmp_df.groupby(['API'], sort=False)
peak_records = tmp_df[prod_grouped['Liquid'].transform(max) == tmp_df['Liquid']]

# filtering out pre-peak months
peak_records = peak_records.rename(columns={"Month": "PeakMonth", "Year": "PeakYear"})
tmp_df = pd.merge(tmp_df, peak_records[["API", "PeakMonth", "PeakYear"]], on='API', how='left')
post_peak = tmp_df[np.logical_or((tmp_df['Year'] > tmp_df['PeakYear']),np.logical_and((tmp_df['Year']==tmp_df['PeakYear']),(tmp_df['Month']>tmp_df['PeakMonth'])))].sort_values(['Year','Month'])[filter_col]

11.62953495979309
                    API  Year  Month  Liquid    Gas  RatioGasOil  Water  \
2        25035221290000  2011      6      19     22     1.157895      8
9        05123356410000  2013      2    5779  14085     2.437273   1361
12       33053039760000  2012     11     648    682     1.052469    612
13       33053039760000  2012     12     204    169     0.828431     83
18       35003221400000  2013      1     172   2840    16.511628      0
19       35003221400000  2013      2       3   1006   335.333333      0
20       35003221400000  2013      4     232      0     0.000000      0
21       35003221400000  2013      5     107      0     0.000000      0
23       25035222050000  2012      8     401   7718    19.246883    282
24       25035222050000  2012      9     251   8489    33.820717    542
25       25035222050000  2012     10      35   1826    52.171429    183
27       25091219320100  2013      4      88      0     0.000000   4897
28       25091219320100  2013      5       2      0     0.000000    310
29       25091219320100  2013      6      19      0     0.000000    190
33       25035221270000  2011      7       7    129    18.428571     13
34       25035221270000  2012      5       6      0     0.000000      0
36       25035221870000  2012      8     343   6447    18.795918   1113
37       25035221870000  2012      9     101   2826    27.980198    607
38       25035221870000  2012     10      65   1557    23.953846    707
42       35003221190000  2012      7     309   7726    25.003236      0
43       35003221190000  2012      9       2    600   300.000000      0
44       35003221190000  2012     10       4   1266   316.500000      0
45       35003221190000  2012     12       1    575   575.000000      0
46       35003221190000  2013      1     122      0     0.000000      0
49       25091219270000  2013      1     245      0     0.000000  11904
54       25033211620000  2012      6     820      0     0.000000    274
55       25033211620000  2012      7     524      0     0.000000    152
56       25033211620000  2012      8     683      0     0.000000    343
57       25033211620000  2012      9     340      0     0.000000     62
59       33087003570000  2012      3     367   1732     4.719346   6990
...                 ...   ...    ...     ...    ...          ...    ...
3445233  42165386510000  2018      8     149      0     0.000000   2581
3445234  42165386510000  2018      8     149      0     0.000000   2581
3445235  42165386510000  2018      9     449      0     0.000000   7778
3445236  42165386510000  2018      9     449      0     0.000000   7778
3445237  42165386510000  2018     10     229      2     0.008734   3967
3445238  42165386510000  2018     10     229      2     0.008734   3967
3445239  42165386510000  2018     11     219      0     0.000000   3794
3445240  42165386510000  2018     11     219      0     0.000000   3794
3445255  42501368530000  2018     11     220     72     0.327273      0
3445276  30015440700000  2018     11    8240  35106     4.260437  30690
3445312  33025033490000  2018      9   26647  23983     0.900026  29178
3445313  33025033490000  2018     10   18126  15407     0.849994  22399
3445314  33025033490000  2018     11   19064  17158     0.900021  20946
3445315  33025033490000  2018     12   11498  14162     1.231692  13197
3445344  49009341370000  2018      4   19382  27471     1.417346  23752
3445345  49009341370000  2018      5   15656  21403     1.367080  18686
3445346  49009341370000  2018      6   12275  14172     1.154542  14224
3445347  49009341370000  2018      7    9355   8940     0.955639   7086
3445348  49009341370000  2018      8    7640   5487     0.718194   5341
3445349  49009341370000  2018      9    8877   8660     0.975555   9009
3445350  49009341370000  2018     10    9441  11218     1.188222  11271
3445351  49009341370000  2018     11    8389   9714     1.157945   9900
3445352  49009341370000  2018     12    7213    327     0.045335   8455
3445355  33025033460000  2018      9   26747  34772     1.300034  24455
3445356  33025033460000  2018     10   16854  21910     1.299988  16529
3445357  33025033460000  2018     11   14053  14820     1.054579  12166
3445358  33025033460000  2018     12    8951   8057     0.900123  10993
3445365  33061041300100  2018     10   19341  20118     1.040174  26633
3445366  33061041300100  2018     11   17535  44309     2.526889  20977
3445370  33061041320000  2018     11   22158   7690     0.347053  24272

         PercentWater  DaysOn              _LastUpdate  \
2            0.421053       6  2016-04-06 09:53:56.663
9            0.235508      28  2016-04-06 09:56:12.217
12           0.944444      13  2016-04-06 09:59:44.793
13           0.406863      11  2016-04-06 09:59:44.793
18           0.000000       0  2016-04-06 10:28:54.780
19           0.000000       0  2016-04-06 10:28:54.780
20           0.000000       0  2016-04-06 10:28:54.780
21           0.000000       0  2016-04-06 10:28:54.780
23           0.703242      31  2016-04-06 10:30:02.220
24           2.159363      30  2016-04-06 10:30:02.220
25           5.228571      11  2016-04-06 10:30:02.220
27          55.647727      20  2016-04-06 10:30:20.673
28         155.000000       3  2016-04-06 10:30:20.673
29          10.000000       1  2016-04-06 10:30:20.673
33           1.857143       5  2016-04-06 10:31:15.047
34           0.000000      31  2016-04-06 10:31:15.063
36           3.244898      31  2016-04-06 10:32:22.157
37           6.009901      30  2016-04-06 10:32:22.157
38          10.876923      17  2016-04-06 10:32:22.157
42           0.000000       0  2016-04-06 11:07:46.243
43           0.000000       0  2016-04-06 11:07:46.243
44           0.000000       0  2016-04-06 11:07:46.243
45           0.000000       0  2016-04-06 11:07:46.243
46           0.000000       0  2016-04-06 11:07:46.243
49          48.587755      31  2016-04-06 11:10:43.603
54           0.334146      15  2016-04-06 11:16:13.363
55           0.290076      31  2016-04-06 11:16:13.363
56           0.502196      31  2016-04-06 11:16:13.363
57           0.182353      30  2016-04-06 11:16:13.363
59          19.046322      10  2016-04-06 11:44:03.513
...               ...     ...                      ...
3445233     17.322148       0  2019-02-03 13:32:47.863
3445234     17.322148       0  2019-02-03 13:32:47.863
3445235     17.322940       0  2019-02-03 13:32:47.863
3445236     17.322940       0  2019-02-03 13:32:47.863
3445237     17.323144       0  2019-02-03 13:32:47.863
3445238     17.323144       0  2019-02-03 13:32:47.863
3445239     17.324201       0  2019-02-03 13:32:47.863
3445240     17.324201       0  2019-02-03 13:32:47.863
3445255      0.000000       0  2019-02-03 13:32:48.100
3445276      3.724515      30  2019-02-03 13:32:48.873
3445312      1.094983      26  2019-02-03 13:32:57.693
3445313      1.235739      28  2019-02-03 13:32:57.693
3445314      1.098720      21  2019-02-03 13:32:57.693
3445315      1.147765      19  2019-02-03 13:32:57.693
3445344      1.225467      30  2019-02-03 13:32:59.413
3445345      1.193536      31  2019-02-03 13:32:59.413
3445346      1.158778      30  2019-02-03 13:32:59.413
3445347      0.757456      31  2019-02-03 13:32:59.413
3445348      0.699084      30  2019-02-03 13:32:59.413
3445349      1.014870      30  2019-02-03 13:32:59.413
3445350      1.193835      31  2019-02-03 13:32:59.413
3445351      1.180117      30  2019-02-03 13:32:59.413
3445352      1.172189      31  2019-02-03 13:32:59.413
3445355      0.914308      26  2019-02-03 13:32:59.657
3445356      0.980717      23  2019-02-03 13:32:59.657
3445357      0.865723      29  2019-02-03 13:32:59.657
3445358      1.228131      31  2019-02-03 13:32:59.657
3445365      1.377023      31  2019-02-03 13:32:59.893
3445366      1.196293      30  2019-02-03 13:32:59.893
3445370      1.095406      30  2019-02-03 13:32:59.957

                                  Alias  PeakMonth  PeakYear
2                              NEWFIELD          5      2011
9                                   NaN          1      2013
12                              WHITING         10      2012
13                              WHITING         10      2012
18                           CHESAPEAKE          7      2012
19                           CHESAPEAKE          7      2012
20                           CHESAPEAKE          7      2012
21                           CHESAPEAKE          7      2012
23                                NOBLE          7      2012
24                                NOBLE          7      2012
25                                NOBLE          7      2012
27               UNIT PETROLEUM COMPANY          3      2013
28               UNIT PETROLEUM COMPANY          3      2013
29               UNIT PETROLEUM COMPANY          3      2013
33                                NOBLE          6      2011
34                                NOBLE          6      2011
36                                NOBLE          7      2012
37                                NOBLE          7      2012
38                                NOBLE          7      2012
42                           CHESAPEAKE          5      2012
43                           CHESAPEAKE          5      2012
44                           CHESAPEAKE          5      2012
45                           CHESAPEAKE          5      2012
46                           CHESAPEAKE          5      2012
49       VAALCO ENERGY USA INCORPORATED         12      2012
54                               CIRQUE          5      2012
55                               CIRQUE          5      2012
56                               CIRQUE          5      2012
57                               CIRQUE          5      2012
59                SILVER OAK ENERGY LLC          2      2012
...                                 ...        ...       ...
3445233        RING ENERGY INCORPORATED          2      2018
3445234        RING ENERGY INCORPORATED          2      2018
3445235        RING ENERGY INCORPORATED          2      2018
3445236        RING ENERGY INCORPORATED          2      2018
3445237        RING ENERGY INCORPORATED          2      2018
3445238        RING ENERGY INCORPORATED          2      2018
3445239        RING ENERGY INCORPORATED          2      2018
3445240        RING ENERGY INCORPORATED          2      2018
3445255                             NaN         10      2018
3445276        MARATHON OIL PERMIAN LLC          7      2018
3445312                             NaN          8      2018
3445313                             NaN          8      2018
3445314                             NaN          8      2018
3445315                             NaN          8      2018
3445344                             NaN          3      2018
3445345                             NaN          3      2018
3445346                             NaN          3      2018
3445347                             NaN          3      2018
3445348                             NaN          3      2018
3445349                             NaN          3      2018
3445350                             NaN          3      2018
3445351                             NaN          3      2018
3445352                             NaN          3      2018
3445355                             NaN          8      2018
3445356                             NaN          8      2018
3445357                             NaN          8      2018
3445358                             NaN          8      2018
3445365                             NaN          9      2018
3445366                             NaN          9      2018
3445370                             NaN         10      2018

[3208137 rows x 13 columns]

Add a Month Index Column

In [ ]:
post_peak['MonthIdx'] = post_peak.groupby(['API'], sort=False).cumcount()+1
end = time.time()
tt = end - start
print(tt)

In [ ]:
# tmp_df.to_csv('data/out.csv')