In [1]:
import numpy as np
import pandas as pd
import time

In [2]:
prod_filepath = "./data/production_data.csv"
df_prod = pd.read_csv(prod_filepath)

alias_filepath = "./data/operator_aliasing.csv"
df_alias = pd.read_csv(alias_filepath)

wells_filepath = "./data/wellsData.csv"
df_wells = pd.read_csv(wells_filepath)

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (21,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Adjusting API by adding a leading zero to APIs starting with '5'

In [3]:
df_prod.API=df_prod['API'].apply(lambda value:'0'+str(value) if str(value)[0]=='5' else str(value))
df_prod.shape

(3703376, 10)

Add Operator Alias

In [4]:
filter_col = df_prod.columns
filter_col = np.append(filter_col, ['Alias'])
filter_col

array(['API', 'Year', 'Month', 'Liquid', 'Gas', 'RatioGasOil', 'Water',
       'PercentWater', 'DaysOn', '_LastUpdate', 'Alias'], dtype=object)

In [5]:
df_wells.API=df_wells['API'].apply(lambda value:str(value))

In [6]:
wells_alias_df = pd.merge(df_alias[['Name', 'Alias']], df_wells[['operatorNameIHS', 'API']], left_on='Name', right_on='operatorNameIHS', how='outer')
new_df = pd.merge(df_prod, wells_alias_df[['operatorNameIHS', 'Alias', 'API']], on='API', how='left')
print(new_df)

                    API  Year  Month  Liquid    Gas  RatioGasOil  Water  \
0        35045231810000  2012      8       0   9014     0.000000      0
1        35045231810000  2012      9       0  39672     0.000000      0
2        35045231810000  2012     10       0  21454     0.000000      0
3        35045231810000  2012     11     177   6259    35.361582      0
4        35045231810000  2012     12       0  10666     0.000000      0
5        35045231810000  2013      1       0   1500     0.000000      0
6        33089006470100  2011     12       0      0     0.000000  10454
7        33089006470100  2012      1       0      0     0.000000  10982
8        35029211390000  2012      2       0  58971     0.000000      0
9        35029211390000  2012      3       0      0     0.000000      0
10       35029211390000  2012      4       0      0     0.000000      0
11       35029211390000  2012      5       0      0     0.000000      0
12       35029211390000  2012      6       0      0     0.000000      0
13       35029211390000  2012      7       0      0     0.000000      0
14       35029211390000  2012      8       0      0     0.000000      0
15       35029211390000  2012      9       0      0     0.000000      0
16       35029211390000  2012     10       0      0     0.000000      0
17       35029211390000  2012     11       0      0     0.000000      0
18       35029211390000  2012     12       0      0     0.000000      0
19       35029211390000  2013      1       0      0     0.000000      0
20       35029211390000  2013      2       0  47546     0.000000      0
21       25035221290000  2011      3       0      0     0.000000    357
22       25035221290000  2011      4       0    205     0.000000    130
23       25035221290000  2011      5     122    131     1.073770    114
24       25035221290000  2011      6      19     22     1.157895      8
25       33053034620000  2012      2      93     93     1.000000      0
26       33053034620000  2012      3      79     78     0.987342      0
27       33053034620000  2012      4       0      0     0.000000      0
28       33053034620000  2012      5      33     33     1.000000      0
29       33053034620000  2012      6     267    267     1.000000      0
...                 ...   ...    ...     ...    ...          ...    ...
3703346  49009341370000  2018      3   24398  33750     1.383310  28855
3703347  49009341370000  2018      4   19382  27471     1.417346  23752
3703348  49009341370000  2018      5   15656  21403     1.367080  18686
3703349  49009341370000  2018      6   12275  14172     1.154542  14224
3703350  49009341370000  2018      7    9355   8940     0.955639   7086
3703351  49009341370000  2018      8    7640   5487     0.718194   5341
3703352  49009341370000  2018      9    8877   8660     0.975555   9009
3703353  49009341370000  2018     10    9441  11218     1.188222  11271
3703354  49009341370000  2018     11    8389   9714     1.157945   9900
3703355  49009341370000  2018     12    7213    327     0.045335   8455
3703356  33025033460000  2018      7     985   1281     1.300508   4284
3703357  33025033460000  2018      8   36083  46908     1.300003  33425
3703358  33025033460000  2018      9   26747  34772     1.300034  24455
3703359  33025033460000  2018     10   16854  21910     1.299988  16529
3703360  33025033460000  2018     11   14053  14820     1.054579  12166
3703361  33025033460000  2018     12    8951   8057     0.900123  10993
3703362  33053085960000  2018     11   18012  25775     1.430990  53313
3703363  33053085960000  2018     12   22578      0     0.000000  51008
3703364  33053086000000  2018     11    7919  10849     1.369996  33730
3703365  33053086000000  2018     12   18522      0     0.000000  58559
3703366  33061041300100  2018      7       0     27     0.000000      0
3703367  33061041300100  2018      8   13203  10113     0.765962  35951
3703368  33061041300100  2018      9   21206  21328     1.005753  33411
3703369  33061041300100  2018     10   19341  20118     1.040174  26633
3703370  33061041300100  2018     11   17535  44309     2.526889  20977
3703371  33061041320000  2018      7       0    113     0.000000      0
3703372  33061041320000  2018      8   22765  17550     0.770920  36300
3703373  33061041320000  2018      9   23387  24596     1.051695  30736
3703374  33061041320000  2018     10   25028  26903     1.074916  29125
3703375  33061041320000  2018     11   22158   7690     0.347053  24272

         PercentWater  DaysOn               _LastUpdate  \
0            0.000000       0   2016-04-06 09:53:22.573
1            0.000000       0   2016-04-06 09:53:22.573
2            0.000000       0   2016-04-06 09:53:22.573
3            0.000000       0   2016-04-06 09:53:22.573
4            0.000000       0   2016-04-06 09:53:22.573
5            0.000000       0   2016-04-06 09:53:22.573
6            0.000000      31   2016-04-06 09:53:24.683
7            0.000000       0   2016-04-06 09:53:24.683
8            0.000000       0   2016-04-06 09:53:55.693
9            0.000000       0   2016-04-06 09:53:55.693
10           0.000000       0   2016-04-06 09:53:55.693
11           0.000000       0   2016-04-06 09:53:55.693
12           0.000000       0   2016-04-06 09:53:55.693
13           0.000000       0   2016-04-06 09:53:55.693
14           0.000000       0   2016-04-06 09:53:55.693
15           0.000000       0   2016-04-06 09:53:55.693
16           0.000000       0  2016-04-06 09:53:55.693f
17           0.000000       0   2016-04-06 09:53:55.693
18           0.000000       0   2016-04-06 09:53:55.693
19           0.000000       0   2016-04-06 09:53:55.693
20           0.000000       0   2016-04-06 09:53:55.693
21           0.000000      25   2016-04-06 09:53:56.663
22           0.000000      19   2016-04-06 09:53:56.663
23           0.934426      29   2016-04-06 09:53:56.663
24           0.421053       6   2016-04-06 09:53:56.663
25           0.000000       1   2016-04-06 09:54:50.343
26           0.000000      31   2016-04-06 09:54:50.343
27           0.000000       0   2016-04-06 09:54:50.343
28           0.000000       1   2016-04-06 09:54:50.343
29           0.000000       4   2016-04-06 09:54:50.343
...               ...     ...                       ...
3703346      1.182679      26   2019-02-03 13:32:59.413
3703347      1.225467      30   2019-02-03 13:32:59.413
3703348      1.193536      31   2019-02-03 13:32:59.413
3703349      1.158778      30   2019-02-03 13:32:59.413
3703350      0.757456      31   2019-02-03 13:32:59.413
3703351      0.699084      30   2019-02-03 13:32:59.413
3703352      1.014870      30   2019-02-03 13:32:59.413
3703353      1.193835      31   2019-02-03 13:32:59.413
3703354      1.180117      30   2019-02-03 13:32:59.413
3703355      1.172189      31   2019-02-03 13:32:59.413
3703356      4.349239       2   2019-02-03 13:32:59.657
3703357      0.926337      31   2019-02-03 13:32:59.657
3703358      0.914308      26   2019-02-03 13:32:59.657
3703359      0.980717      23   2019-02-03 13:32:59.657
3703360      0.865723      29   2019-02-03 13:32:59.657
3703361      1.228131      31   2019-02-03 13:32:59.657
3703362      2.959860      29   2019-02-03 13:32:59.800
3703363      2.259190      31   2019-02-03 13:32:59.800
3703364      4.259376      16   2019-02-03 13:32:59.847
3703365      3.161592      31   2019-02-03 13:32:59.847
3703366      0.000000       0   2019-02-03 13:32:59.893
3703367      2.722942      25   2019-02-03 13:32:59.893
3703368      1.575545      30   2019-02-03 13:32:59.893
3703369      1.377023      31   2019-02-03 13:32:59.893
3703370      1.196293      30   2019-02-03 13:32:59.893
3703371      0.000000       0   2019-02-03 13:32:59.957
3703372      1.594553      25   2019-02-03 13:32:59.957
3703373      1.314234      30   2019-02-03 13:32:59.957
3703374      1.163697      31   2019-02-03 13:32:59.957
3703375      1.095406      30   2019-02-03 13:32:59.957

                                operatorNameIHS       Alias
0                                P V PROPERTIES         NaN
1                                P V PROPERTIES         NaN
2                                P V PROPERTIES         NaN
3                                P V PROPERTIES         NaN
4                                P V PROPERTIES         NaN
5                                P V PROPERTIES         NaN
6             CHESAPEAKE OPERATING INCORPORATED  CHESAPEAKE
7             CHESAPEAKE OPERATING INCORPORATED  CHESAPEAKE
8        NEWFIELD EXPLORATION MID-CONTINENT INC    NEWFIELD
9        NEWFIELD EXPLORATION MID-CONTINENT INC    NEWFIELD
10       NEWFIELD EXPLORATION MID-CONTINENT INC    NEWFIELD
11       NEWFIELD EXPLORATION MID-CONTINENT INC    NEWFIELD
12       NEWFIELD EXPLORATION MID-CONTINENT INC    NEWFIELD
13       NEWFIELD EXPLORATION MID-CONTINENT INC    NEWFIELD
14       NEWFIELD EXPLORATION MID-CONTINENT INC    NEWFIELD
15       NEWFIELD EXPLORATION MID-CONTINENT INC    NEWFIELD
16       NEWFIELD EXPLORATION MID-CONTINENT INC    NEWFIELD
17       NEWFIELD EXPLORATION MID-CONTINENT INC    NEWFIELD
18       NEWFIELD EXPLORATION MID-CONTINENT INC    NEWFIELD
19       NEWFIELD EXPLORATION MID-CONTINENT INC    NEWFIELD
20       NEWFIELD EXPLORATION MID-CONTINENT INC    NEWFIELD
21                  NEWFIELD PRODUCTION COMPANY    NEWFIELD
22                  NEWFIELD PRODUCTION COMPANY    NEWFIELD
23                  NEWFIELD PRODUCTION COMPANY    NEWFIELD
24                  NEWFIELD PRODUCTION COMPANY    NEWFIELD
25                WHITING OIL & GAS CORPORATION     WHITING
26                WHITING OIL & GAS CORPORATION     WHITING
27                WHITING OIL & GAS CORPORATION     WHITING
28                WHITING OIL & GAS CORPORATION     WHITING
29                WHITING OIL & GAS CORPORATION     WHITING
...                                         ...         ...
3703346                                     NaN         NaN
3703347                                     NaN         NaN
3703348                                     NaN         NaN
3703349                                     NaN         NaN
3703350                                     NaN         NaN
3703351                                     NaN         NaN
3703352                                     NaN         NaN
3703353                                     NaN         NaN
3703354                                     NaN         NaN
3703355                                     NaN         NaN
3703356                                     NaN         NaN
3703357                                     NaN         NaN
3703358                                     NaN         NaN
3703359                                     NaN         NaN
3703360                                     NaN         NaN
3703361                                     NaN         NaN
3703362                                     NaN         NaN
3703363                                     NaN         NaN
3703364                                     NaN         NaN
3703365                                     NaN         NaN
3703366                                     NaN         NaN
3703367                                     NaN         NaN
3703368                                     NaN         NaN
3703369                                     NaN         NaN
3703370                                     NaN         NaN
3703371                                     NaN         NaN
3703372                                     NaN         NaN
3703373                                     NaN         NaN
3703374                                     NaN         NaN
3703375                                     NaN         NaN

[3703376 rows x 12 columns]

In [7]:
new_df.Alias.fillna(new_df.operatorNameIHS, inplace=True)
new_df

tmp_df = new_df[filter_col]
tmp_df

,API,Year,Month,Liquid,Gas,RatioGasOil,Water,PercentWater,DaysOn,_LastUpdate,Alias
0,35045231810000,2012,8,0,9014,0.000000,0,0.000000,0,2016-04-06 09:53:22.573,P V PROPERTIES
1,35045231810000,2012,9,0,39672,0.000000,0,0.000000,0,2016-04-06 09:53:22.573,P V PROPERTIES
2,35045231810000,2012,10,0,21454,0.000000,0,0.000000,0,2016-04-06 09:53:22.573,P V PROPERTIES
3,35045231810000,2012,11,177,6259,35.361582,0,0.000000,0,2016-04-06 09:53:22.573,P V PROPERTIES
4,35045231810000,2012,12,0,10666,0.000000,0,0.000000,0,2016-04-06 09:53:22.573,P V PROPERTIES
5,35045231810000,2013,1,0,1500,0.000000,0,0.000000,0,2016-04-06 09:53:22.573,P V PROPERTIES
6,33089006470100,2011,12,0,0,0.000000,10454,0.000000,31,2016-04-06 09:53:24.683,CHESAPEAKE
7,33089006470100,2012,1,0,0,0.000000,10982,0.000000,0,2016-04-06 09:53:24.683,CHESAPEAKE
8,35029211390000,2012,2,0,58971,0.000000,0,0.000000,0,2016-04-06 09:53:55.693,NEWFIELD
9,35029211390000,2012,3,0,0,0.000000,0,0.000000,0,2016-04-06 09:53:55.693,NEWFIELD
10,35029211390000,2012,4,0,0,0.000000,0,0.000000,0,2016-04-06 09:53:55.693,NEWFIELD
11,35029211390000,2012,5,0,0,0.000000,0,0.000000,0,2016-04-06 09:53:55.693,NEWFIELD
12,35029211390000,2012,6,0,0,0.000000,0,0.000000,0,2016-04-06 09:53:55.693,NEWFIELD
13,35029211390000,2012,7,0,0,0.000000,0,0.000000,0,2016-04-06 09:53:55.693,NEWFIELD
14,35029211390000,2012,8,0,0,0.000000,0,0.000000,0,2016-04-06 09:53:55.693,NEWFIELD
15,35029211390000,2012,9,0,0,0.000000,0,0.000000,0,2016-04-06 09:53:55.693,NEWFIELD
16,35029211390000,2012,10,0,0,0.000000,0,0.000000,0,2016-04-06 09:53:55.693f,NEWFIELD
17,35029211390000,2012,11,0,0,0.000000,0,0.000000,0,2016-04-06 09:53:55.693,NEWFIELD
18,35029211390000,2012,12,0,0,0.000000,0,0.000000,0,2016-04-06 09:53:55.693,NEWFIELD
19,35029211390000,2013,1,0,0,0.000000,0,0.000000,0,2016-04-06 09:53:55.693,NEWFIELD
20,35029211390000,2013,2,0,47546,0.000000,0,0.000000,0,2016-04-06 09:53:55.693,NEWFIELD
21,25035221290000,2011,3,0,0,0.000000,357,0.000000,25,2016-04-06 09:53:56.663,NEWFIELD
22,25035221290000,2011,4,0,205,0.000000,130,0.000000,19,2016-04-06 09:53:56.663,NEWFIELD
23,25035221290000,2011,5,122,131,1.073770,114,0.934426,29,2016-04-06 09:53:56.663,NEWFIELD
24,25035221290000,2011,6,19,22,1.157895,8,0.421053,6,2016-04-06 09:53:56.663,NEWFIELD
25,33053034620000,2012,2,93,93,1.000000,0,0.000000,1,2016-04-06 09:54:50.343,WHITING
26,33053034620000,2012,3,79,78,0.987342,0,0.000000,31,2016-04-06 09:54:50.343,WHITING
27,33053034620000,2012,4,0,0,0.000000,0,0.000000,0,2016-04-06 09:54:50.343,WHITING
28,33053034620000,2012,5,33,33,1.000000,0,0.000000,1,2016-04-06 09:54:50.343,WHITING
29,33053034620000,2012,6,267,267,1.000000,0,0.000000,4,2016-04-06 09:54:50.343,WHITING
...,...,...,...,...,...,...,...,...,...,...,...
3703346,49009341370000,2018,3,24398,33750,1.383310,28855,1.182679,26,2019-02-03 13:32:59.413,NaN
3703347,49009341370000,2018,4,19382,27471,1.417346,23752,1.225467,30,2019-02-03 13:32:59.413,NaN
3703348,49009341370000,2018,5,15656,21403,1.367080,18686,1.193536,31,2019-02-03 13:32:59.413,NaN
3703349,49009341370000,2018,6,12275,14172,1.154542,14224,1.158778,30,2019-02-03 13:32:59.413,NaN
3703350,49009341370000,2018,7,9355,8940,0.955639,7086,0.757456,31,2019-02-03 13:32:59.413,NaN
3703351,49009341370000,2018,8,7640,5487,0.718194,5341,0.699084,30,2019-02-03 13:32:59.413,NaN
3703352,49009341370000,2018,9,8877,8660,0.975555,9009,1.014870,30,2019-02-03 13:32:59.413,NaN
3703353,49009341370000,2018,10,9441,11218,1.188222,11271,1.193835,31,2019-02-03 13:32:59.413,NaN
3703354,49009341370000,2018,11,8389,9714,1.157945,9900,1.180117,30,2019-02-03 13:32:59.413,NaN
3703355,49009341370000,2018,12,7213,327,0.045335,8455,1.172189,31,2019-02-03 13:32:59.413,NaN
3703356,33025033460000,2018,7,985,1281,1.300508,4284,4.349239,2,2019-02-03 13:32:59.657,NaN
3703357,33025033460000,2018,8,36083,46908,1.300003,33425,0.926337,31,2019-02-03 13:32:59.657,NaN
3703358,33025033460000,2018,9,26747,34772,1.300034,24455,0.914308,26,2019-02-03 13:32:59.657,NaN
3703359,33025033460000,2018,10,16854,21910,1.299988,16529,0.980717,23,2019-02-03 13:32:59.657,NaN
3703360,33025033460000,2018,11,14053,14820,1.054579,12166,0.865723,29,2019-02-03 13:32:59.657,NaN
3703361,33025033460000,2018,12,8951,8057,0.900123,10993,1.228131,31,2019-02-03 13:32:59.657,NaN
3703362,33053085960000,2018,11,18012,25775,1.430990,53313,2.959860,29,2019-02-03 13:32:59.800,NaN
3703363,33053085960000,2018,12,22578,0,0.000000,51008,2.259190,31,2019-02-03 13:32:59.800,NaN
3703364,33053086000000,2018,11,7919,10849,1.369996,33730,4.259376,16,2019-02-03 13:32:59.847,NaN
3703365,33053086000000,2018,12,18522,0,0.000000,58559,3.161592,31,2019-02-03 13:32:59.847,NaN
3703366,33061041300100,2018,7,0,27,0.000000,0,0.000000,0,2019-02-03 13:32:59.893,NaN
3703367,33061041300100,2018,8,13203,10113,0.765962,35951,2.722942,25,2019-02-03 13:32:59.893,NaN
3703368,33061041300100,2018,9,21206,21328,1.005753,33411,1.575545,30,2019-02-03 13:32:59.893,NaN
3703369,33061041300100,2018,10,19341,20118,1.040174,26633,1.377023,31,2019-02-03 13:32:59.893,NaN
3703370,33061041300100,2018,11,17535,44309,2.526889,20977,1.196293,30,2019-02-03 13:32:59.893,NaN
3703371,33061041320000,2018,7,0,113,0.000000,0,0.000000,0,2019-02-03 13:32:59.957,NaN
3703372,33061041320000,2018,8,22765,17550,0.770920,36300,1.594553,25,2019-02-03 13:32:59.957,NaN
3703373,33061041320000,2018,9,23387,24596,1.051695,30736,1.314234,30,2019-02-03 13:32:59.957,NaN
3703374,33061041320000,2018,10,25028,26903,1.074916,29125,1.163697,31,2019-02-03 13:32:59.957,NaN
3703375,33061041320000,2018,11,22158,7690,0.347053,24272,1.095406,30,2019-02-03 13:32:59.957,NaN

In [ ]:
tmp_df.to_csv('data/out.csv')

Remove Pre-Peak Months

In [ ]:
# getting peak records
peak_records = tmp_df[tmp_df.groupby(['API'])['Liquid'].transform(max) == tmp_df['Liquid']]
print(peak_records)
print(peak_records[peak_records['Liquid']!=0])
peak_records = peak_records[peak_records['Liquid']!=0]

# filtering out any records before peak months
new_pd = pd.DataFrame(columns=tmp_df.columns)
for idx in range(0, peak_records.shape[0]):
    tmp = tmp_df[np.logical_or(tmp_df['Year']>peak_records['Year'].iloc[idx], np.logical_and(tmp_df['Year']==peak_records['Year'].iloc[idx], tmp_df['Month']>peak_records['Month'].iloc[idx]))]
    new_pd.append(tmp)
new_pd

                    API  Year  Month  Liquid     Gas  RatioGasOil  Water  \
3        35045231810000  2012     11     177    6259    35.361582      0
6        33089006470100  2011     12       0       0     0.000000  10454
7        33089006470100  2012      1       0       0     0.000000  10982
8        35029211390000  2012      2       0   58971     0.000000      0
9        35029211390000  2012      3       0       0     0.000000      0
10       35029211390000  2012      4       0       0     0.000000      0
11       35029211390000  2012      5       0       0     0.000000      0
12       35029211390000  2012      6       0       0     0.000000      0
13       35029211390000  2012      7       0       0     0.000000      0
14       35029211390000  2012      8       0       0     0.000000      0
15       35029211390000  2012      9       0       0     0.000000      0
16       35029211390000  2012     10       0       0     0.000000      0
17       35029211390000  2012     11       0       0     0.000000      0
18       35029211390000  2012     12       0       0     0.000000      0
19       35029211390000  2013      1       0       0     0.000000      0
20       35029211390000  2013      2       0   47546     0.000000      0
23       25035221290000  2011      5     122     131     1.073770    114
29       33053034620000  2012      6     267     267     1.000000      0
33       05123356410000  2013      1    6401    6385     0.997500   6282
36       33053039760000  2012     10    1302    1435     1.102151   1644
39       35053232040000  2013      6     166       0     0.000000      0
45       35003221400000  2012      7     302    2845     9.420530      0
56       30039308970000  2011     11       0       3     0.000000      0
57       30039308970000  2011     12       0       5     0.000000   4074
58       30039308970000  2012      1       0      65     0.000000   6215
59       30039308970000  2012      2       0     737     0.000000   5078
60       30039308970000  2012      3       0     968     0.000000   4175
61       30039308970000  2012      4       0    2292     0.000000   2863
62       30039308970000  2012      5       0     102     0.000000      0
63       30039308970000  2012      6       0     169     0.000000   2510
...                 ...   ...    ...     ...     ...          ...    ...
3703313  05123465870000  2018     11    1753    3519     2.007416   5986
3703314  05123465190000  2018     11    1495    3205     2.143813   5871
3703315  05123465100000  2018     11     826    2028     2.455206   1985
3703316  05123465060000  2018     11     724    1568     2.165746   2485
3703317  05123453240000  2018     11    1054     993     0.942125    507
3703318  05123453230000  2018     11    2024    1372     0.677866   1151
3703319  05123434600000  2018     11    3077    5036     1.636659  13505
3703320  05123434560000  2018     11    6722   11003     1.636864  20780
3703321  05123434470000  2018     11    5828    9539     1.636754  22504
3703322  05123434420100  2018     11    5602    9171     1.637094  26055
3703327  33053080640000  2018     11   32230  104206     3.233199  25768
3703332  33053082560000  2018     11   12426   20124     1.619507   5318
3703333  05123454010000  2018     11       0       0     0.000000   5642
3703334  05123473570000  2018     11     111    1921    17.306306   8868
3703335  05123454030000  2018     11       0       0     0.000000  14743
3703336  05123473580000  2018     11     226    6844    30.283186  13094
3703337  05123454040000  2018     11       0       0     0.000000   7082
3703338  05123473590000  2018     11     138    2249    16.297101  10891
3703339  05123454100000  2018     11       0       0     0.000000  12310
3703340  05123473600000  2018     11      92    1558    16.934783  20782
3703341  05123454120000  2018     11       0       0     0.000000  10736
3703342  05123473610000  2018     11     170    4533    26.664706  22232
3703343  05123473550000  2018     11      82    1119    13.646341  10777
3703344  05123473560000  2018     11     223    8019    35.959641  20839
3703346  49009341370000  2018      3   24398   33750     1.383310  28855
3703357  33025033460000  2018      8   36083   46908     1.300003  33425
3703363  33053085960000  2018     12   22578       0     0.000000  51008
3703365  33053086000000  2018     12   18522       0     0.000000  58559
3703368  33061041300100  2018      9   21206   21328     1.005753  33411
3703374  33061041320000  2018     10   25028   26903     1.074916  29125

         PercentWater  DaysOn               _LastUpdate  \
3            0.000000       0   2016-04-06 09:53:22.573
6            0.000000      31   2016-04-06 09:53:24.683
7            0.000000       0   2016-04-06 09:53:24.683
8            0.000000       0   2016-04-06 09:53:55.693
9            0.000000       0   2016-04-06 09:53:55.693
10           0.000000       0   2016-04-06 09:53:55.693
11           0.000000       0   2016-04-06 09:53:55.693
12           0.000000       0   2016-04-06 09:53:55.693
13           0.000000       0   2016-04-06 09:53:55.693
14           0.000000       0   2016-04-06 09:53:55.693
15           0.000000       0   2016-04-06 09:53:55.693
16           0.000000       0  2016-04-06 09:53:55.693f
17           0.000000       0   2016-04-06 09:53:55.693
18           0.000000       0   2016-04-06 09:53:55.693
19           0.000000       0   2016-04-06 09:53:55.693
20           0.000000       0   2016-04-06 09:53:55.693
23           0.934426      29   2016-04-06 09:53:56.663
29           0.000000       4   2016-04-06 09:54:50.343
33           0.981409      31   2016-04-06 09:56:12.217
36           1.262673      16   2016-04-06 09:59:44.793
39           0.000000       0   2016-04-06 10:28:37.850
45           0.000000       0   2016-04-06 10:28:54.780
56           0.000000      30   2016-04-06 10:29:26.817
57           0.000000      31   2016-04-06 10:29:26.817
58           0.000000      31   2016-04-06 10:29:26.817
59           0.000000      29   2016-04-06 10:29:26.817
60           0.000000      31   2016-04-06 10:29:26.817
61           0.000000      30   2016-04-06 10:29:26.817
62           0.000000      31   2016-04-06 10:29:26.817
63           0.000000      30   2016-04-06 10:29:26.817
...               ...     ...                       ...
3703313      3.414718       7   2019-02-03 13:32:57.817
3703314      3.927090       7   2019-02-03 13:32:57.847
3703315      2.403148       3   2019-02-03 13:32:57.910
3703316      3.432320       3   2019-02-03 13:32:57.943
3703317      0.481025       7   2019-02-03 13:32:57.997
3703318      0.568676      10   2019-02-03 13:32:58.040
3703319      4.389015      12   2019-02-03 13:32:58.090
3703320      3.091342      27   2019-02-03 13:32:58.137
3703321      3.861359      27   2019-02-03 13:32:58.183
3703322      4.651017      24   2019-02-03 13:32:58.230
3703327      0.799504      30   2019-02-03 13:32:58.407
3703332      0.427974       6   2019-02-03 13:32:58.470
3703333      0.000000       3   2019-02-03 13:32:58.753
3703334     79.891892      17   2019-02-03 13:32:58.787
3703335      0.000000       7   2019-02-03 13:32:58.837
3703336     57.938053      24   2019-02-03 13:32:58.883
3703337      0.000000       3   2019-02-03 13:32:58.913
3703338     78.920290      18   2019-02-03 13:32:58.960
3703339      0.000000       6   2019-02-03 13:32:59.007
3703340    225.891304      21   2019-02-03 13:32:59.053
3703341      0.000000       5   2019-02-03 13:32:59.100
3703342    130.776471      28   2019-02-03 13:32:59.147
3703343    131.426829      15   2019-02-03 13:32:59.180
3703344     93.448430      30   2019-02-03 13:32:59.227
3703346      1.182679      26   2019-02-03 13:32:59.413
3703357      0.926337      31   2019-02-03 13:32:59.657
3703363      2.259190      31   2019-02-03 13:32:59.800
3703365      3.161592      31   2019-02-03 13:32:59.847
3703368      1.575545      30   2019-02-03 13:32:59.893
3703374      1.163697      31   2019-02-03 13:32:59.957

                                          Alias
3                                P V PROPERTIES
6                                    CHESAPEAKE
7                                    CHESAPEAKE
8                                      NEWFIELD
9                                      NEWFIELD
10                                     NEWFIELD
11                                     NEWFIELD
12                                     NEWFIELD
13                                     NEWFIELD
14                                     NEWFIELD
15                                     NEWFIELD
16                                     NEWFIELD
17                                     NEWFIELD
18                                     NEWFIELD
19                                     NEWFIELD
20                                     NEWFIELD
23                                     NEWFIELD
29                                      WHITING
33                                          NaN
36                                      WHITING
39       SANDRIDGE EXPLORATION & PRODUCTION LLC
45                                   CHESAPEAKE
56                                      ENERGEN
57                                      ENERGEN
58                                      ENERGEN
59                                      ENERGEN
60                                      ENERGEN
61                                      ENERGEN
62                                      ENERGEN
63                                      ENERGEN
...                                         ...
3703313                                     NaN
3703314                                     NaN
3703315                                     NaN
3703316                                     NaN
3703317                                     NaN
3703318                                     NaN
3703319                                     NaN
3703320                                     NaN
3703321                                     NaN
3703322                                     NaN
3703327                                     NaN
3703332                                     NaN
3703333                                     NaN
3703334                                     NaN
3703335                                     NaN
3703336                                     NaN
3703337                                     NaN
3703338                                     NaN
3703339                                     NaN
3703340                                     NaN
3703341                                     NaN
3703342                                     NaN
3703343                                     NaN
3703344                                     NaN
3703346                                     NaN
3703357                                     NaN
3703363                                     NaN
3703365                                     NaN
3703368                                     NaN
3703374                                     NaN

[156255 rows x 11 columns]
                    API  Year  Month  Liquid     Gas  RatioGasOil  Water  \
3        35045231810000  2012     11     177    6259    35.361582      0
23       25035221290000  2011      5     122     131     1.073770    114
29       33053034620000  2012      6     267     267     1.000000      0
33       05123356410000  2013      1    6401    6385     0.997500   6282
36       33053039760000  2012     10    1302    1435     1.102151   1644
39       35053232040000  2013      6     166       0     0.000000      0
45       35003221400000  2012      7     302    2845     9.420530      0
74       25035222050000  2012      7    1223    9351     7.645953    929
78       25091219320100  2013      3      97       0     0.000000   2926
97       35053230900000  2013      6      42       0     0.000000      0
99       25035221270000  2011      6      83     778     9.373494    160
115      25035221870000  2012      7     407    3426     8.417690   1620
128      35003221190000  2012      5     314    4601    14.652866      0
147      25091219270000  2012     12     532       0     0.000000  36032
152      25033211620000  2012      5     960       0     0.000000    342
157      33087003570000  2012      2    1696    2547     1.501769  22491
183      33089006600000  2012      9      77       0     0.000000  18791
184      49005610240000  2011      5     100       0     0.000000   1740
186      05069064380000  2012      1     585    1027     1.755556      0
188      05011062000100  2013      9     336       0     0.000000  13103
199      35119242840000  2015      4    2847    5259     1.847208      0
241      35119242930000  2015      5    1999      92     0.046023      0
262      35083243360000  2015      6    3892    6760     1.736896      0
307      25083229450000  2012     10    1363     220     0.161409   3758
353      05123350600000  2012      5    4548   15031     3.304969   7923
487      05057065100200  2016      9      31       0     0.000000      0
500      35083243490000  2015      6    4165    9765     2.344538      0
540      05061068900100  2014      3     603       0     0.000000      0
544      49001555330000  2011     10      65       0     0.000000  11162
550      05017077740000  2014      6     202      69     0.341584      0
...                 ...   ...    ...     ...     ...          ...    ...
3703303  30015450370000  2018     11    8085   36736     4.543723  28042
3703304  30015450380000  2018     11   10581   51047     4.824402  38281
3703305  33061036970000  2018     12   10848    4879     0.449760  19042
3703307  33025033490000  2018      8   34589   29401     0.850010  43709
3703312  05123474440000  2018     11     887    1197     1.349493    106
3703313  05123465870000  2018     11    1753    3519     2.007416   5986
3703314  05123465190000  2018     11    1495    3205     2.143813   5871
3703315  05123465100000  2018     11     826    2028     2.455206   1985
3703316  05123465060000  2018     11     724    1568     2.165746   2485
3703317  05123453240000  2018     11    1054     993     0.942125    507
3703318  05123453230000  2018     11    2024    1372     0.677866   1151
3703319  05123434600000  2018     11    3077    5036     1.636659  13505
3703320  05123434560000  2018     11    6722   11003     1.636864  20780
3703321  05123434470000  2018     11    5828    9539     1.636754  22504
3703322  05123434420100  2018     11    5602    9171     1.637094  26055
3703327  33053080640000  2018     11   32230  104206     3.233199  25768
3703332  33053082560000  2018     11   12426   20124     1.619507   5318
3703334  05123473570000  2018     11     111    1921    17.306306   8868
3703336  05123473580000  2018     11     226    6844    30.283186  13094
3703338  05123473590000  2018     11     138    2249    16.297101  10891
3703340  05123473600000  2018     11      92    1558    16.934783  20782
3703342  05123473610000  2018     11     170    4533    26.664706  22232
3703343  05123473550000  2018     11      82    1119    13.646341  10777
3703344  05123473560000  2018     11     223    8019    35.959641  20839
3703346  49009341370000  2018      3   24398   33750     1.383310  28855
3703357  33025033460000  2018      8   36083   46908     1.300003  33425
3703363  33053085960000  2018     12   22578       0     0.000000  51008
3703365  33053086000000  2018     12   18522       0     0.000000  58559
3703368  33061041300100  2018      9   21206   21328     1.005753  33411
3703374  33061041320000  2018     10   25028   26903     1.074916  29125

         PercentWater  DaysOn              _LastUpdate  \
3            0.000000       0  2016-04-06 09:53:22.573
23           0.934426      29  2016-04-06 09:53:56.663
29           0.000000       4  2016-04-06 09:54:50.343
33           0.981409      31  2016-04-06 09:56:12.217
36           1.262673      16  2016-04-06 09:59:44.793
39           0.000000       0  2016-04-06 10:28:37.850
45           0.000000       0  2016-04-06 10:28:54.780
74           0.759608      31  2016-04-06 10:30:02.220
78          30.164948      12  2016-04-06 10:30:20.673
97           0.000000       0  2016-04-06 10:30:55.947
99           1.927711      30  2016-04-06 10:31:15.047
115          3.980344      31  2016-04-06 10:32:22.157
128          0.000000       0  2016-04-06 11:07:46.243
147         67.729323      31  2016-04-06 11:10:43.603
152          0.356250      13  2016-04-06 11:16:13.363
157         13.261203      29  2016-04-06 11:44:03.513
183        244.038961      25  2016-04-06 11:44:27.967
184         17.400000       6  2016-04-06 11:45:50.410
186          0.000000      12  2016-04-06 11:46:03.713
188         38.997024      10  2016-04-06 11:46:30.800
199          0.000000       0  2017-12-24 08:00:21.197
241          0.000000       0  2017-02-02 14:03:59.940
262          0.000000       0  2017-03-02 14:03:51.970
307          2.757153      22  2016-04-06 13:22:24.420
353          1.742084      31  2016-04-06 13:22:27.967
487          0.000000      11  2019-02-03 08:04:02.737
500          0.000000       0  2017-03-02 14:03:52.470
540          0.000000      31  2016-04-06 13:23:04.767
544        171.723077      17  2016-04-06 13:23:08.243
550          0.000000       4  2016-04-06 13:23:33.627
...               ...     ...                      ...
3703303      3.468398      30  2019-02-03 13:32:50.727
3703304      3.617900      30  2019-02-03 13:32:50.773
3703305      1.755347       4  2019-02-03 13:32:57.550
3703307      1.263668      31  2019-02-03 13:32:57.693
3703312      0.119504       4  2019-02-03 13:32:57.770
3703313      3.414718       7  2019-02-03 13:32:57.817
3703314      3.927090       7  2019-02-03 13:32:57.847
3703315      2.403148       3  2019-02-03 13:32:57.910
3703316      3.432320       3  2019-02-03 13:32:57.943
3703317      0.481025       7  2019-02-03 13:32:57.997
3703318      0.568676      10  2019-02-03 13:32:58.040
3703319      4.389015      12  2019-02-03 13:32:58.090
3703320      3.091342      27  2019-02-03 13:32:58.137
3703321      3.861359      27  2019-02-03 13:32:58.183
3703322      4.651017      24  2019-02-03 13:32:58.230
3703327      0.799504      30  2019-02-03 13:32:58.407
3703332      0.427974       6  2019-02-03 13:32:58.470
3703334     79.891892      17  2019-02-03 13:32:58.787
3703336     57.938053      24  2019-02-03 13:32:58.883
3703338     78.920290      18  2019-02-03 13:32:58.960
3703340    225.891304      21  2019-02-03 13:32:59.053
3703342    130.776471      28  2019-02-03 13:32:59.147
3703343    131.426829      15  2019-02-03 13:32:59.180
3703344     93.448430      30  2019-02-03 13:32:59.227
3703346      1.182679      26  2019-02-03 13:32:59.413
3703357      0.926337      31  2019-02-03 13:32:59.657
3703363      2.259190      31  2019-02-03 13:32:59.800
3703365      3.161592      31  2019-02-03 13:32:59.847
3703368      1.575545      30  2019-02-03 13:32:59.893
3703374      1.163697      31  2019-02-03 13:32:59.957

                                            Alias
3                                  P V PROPERTIES
23                                       NEWFIELD
29                                        WHITING
33                                            NaN
36                                        WHITING
39         SANDRIDGE EXPLORATION & PRODUCTION LLC
45                                     CHESAPEAKE
74                                          NOBLE
78                         UNIT PETROLEUM COMPANY
97                     SPECIAL ENERGY CORPORATION
99                                          NOBLE
115                                         NOBLE
128                                    CHESAPEAKE
147                VAALCO ENERGY USA INCORPORATED
152                                        CIRQUE
157                         SILVER OAK ENERGY LLC
183                                    CHESAPEAKE
184                BALLARD PETROLEUM HOLDINGS LLC
186                                           NaN

Add a Month Index Column